VITE_BACKEND_URL=http://localhost:8000
VITE_SENTRY_DSN=https://xxx.xxx
VITE_SUPABASE_URL=http://localhost:54321
VITE_SEGMENT_WRITE_KEY=xxx
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=xxx
VITE_APP_URL=http://localhost:5173
