SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_KEY=xxx

SUPABASE_TEST_URL=http://127.0.0.1:54321
SUPABASE_TEST_KEY=

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_BILLING_PORTAL_CONFIGURATION_ID=

SLACK_PAYMENTS_WEBHOOK_URL=